<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="biometrics">
        <mat-icon>fingerprint</mat-icon>
        <span>Biometrics</span>
      </button>
      <button mat-menu-item routerLink="libraries">
        <mat-icon>settings_input_composite</mat-icon>
        <span>Libraries</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Spike Micro frontend</span>
  <span class="example-fill-remaining-space"></span>
  <span><a target="_blank" href="https://github.com/psalguerodev/layout-biometrics" style="text-decoration: none; color:white;">@psalguerodev</a></span>
</mat-toolbar>
<router-outlet></router-outlet>
